<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css"/>
    <title>My Notes</title>
</head>
<body>
    <header class="navbar">
        <ul class="navbar__navigation">
            <li class="navbar__navigation--item">
                <a href="#" class="navbar__link">Add</a>
            </li>
            <li>
                <div class="navbar__brand">
                    <img src="static/logo.svg" alt="My Notes logo">
                </div>
            </li>
            <li class="navbar__navigation--item">
                <a href="#" class="navbar__link">Notes</a>
            </li>
        </ul>
    </header>
    <main class="main">
        <section>
            <h1>Add note</h1>
            <form class="form" action="/entry" method="GET">
                <p class="form__input">
                    <label for="entry" class="form__label">Entry notes</label>
                    <textarea name="content" type="content" class="form__textarea"></textarea>
                </p>
                <button type="submit" value="Submit" class="form__submit">Add</button>
            </form>
        </section>
        <section>
            <h1>Recent notes</h1>
            <article class="entry">
                <div>
                    <time class="entry__date" datetime="08-07-2025">• Jul 8</time>
                </div>
                <p class="entry__content">
                    Dnešní hodina informatiky stála za to.
                </p>
            </article>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a class="footer__item">Made for learning purposes</a>
                <a class="footer__item">Good luck!</a>
            </section>
            <section class="right">
                 <div class="footer__column">
                    <a class="footer__item">How this was made</a>
                    <a class="footer__item">About</a>
                </div>
            </section>
               
        </div>
    </footer> 
</body>
</html>